<h2>Edit An Album</h2>

<section class = 'form-section'>
  <form action="<%= album_url(@album) %>" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Title
      <input type="text" name="album[title]" value = '<%= @album.title %>'>
    </label>

    <label>Band
      <select name="album[band_id]">
        <% @bands.each do |band| %>
          <option value="<%= band.id %>" <%= @album.band_id == band.id ? "selected" : "" %> ><%= band.name %> </option>
        <% end %>
      </select>
    </label>

    <label>Year
      <input type="number" name="album[year]" value = '<%= @album.year %>'>
    </label>

    <label>Recorded
      <input type="radio" name="album[live]" value = "1" <%= @album.live ? 'checked' : "" %> > Live
      <input type="radio" name="album[live]"  value= '0' <%= @album.live ? '' : "checked" %> > Studio
    </label>

    <input type="submit" value="Update Album">

  </form>
</section>
