<h2>All Albums</h2>

<ul>
  <% @albums.each do |album| %>
    <a href='<%= album_url(album) %>'><li> <%= album.title %> | <%= album.year %> |  <%= album.band.name %> <%= album.live ? "| LIVE" : ""%></li></a>
  <% end %>
</ul>
