<h2>Add an album for your band</h2>

<section class = 'form-section'>
  <form action="<%= albums_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Title
      <input type="text" name="album[title]">
    </label>

    <label>Band
      <select name="album[band_id]">
        <% @bands.each do |band| %>
          <option value="<%= band.id %>" <%= band.id.to_s == params[:band_id] ? "selected" : "" %> ><%= band.name %> </option>
        <% end %>
      </select>
    </label>

    <label>Year
      <input type="number" name="album[year]" value = '2017'>
    </label>

    <label>Recorded
      <input type="radio" name="album[live]" value = "1"> Live
      <input type="radio" name="album[live]"  value= '0' checked> Studio
    </label>

    <input type="submit" value="Create Album">

  </form>
</section>
