<h2><%= @album.title %></h2>

<h4><%= @album.year %> |  <%= @album.band.name %> <%= @album.live ? "| LIVE" : ""%></h4>

<h4>Tracks:</h4>
<ul>
  <% @tracks.each do |track| %>
    <li><a href="<%= track_url(track) %>"><%= track.title %></a></li>
  <% end %>
</ul>

<%= link_to @album.band.name, band_url(@album.band) %> </br>
<%= link_to 'Add A Track', new_album_track_url(@album) %> </br>
<%= link_to 'Edit Album Here', edit_album_url(@album) %></br><br>
<%= button_to 'Delete Album', album_url(@album), action: 'delete', method: :delete %>
