.col {
  float: left;
  box-sizing: border-box;
}

/* Attribute selector targeting all elements
with a class attribute containing 'col-' */
[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-2-3 {
  width: 66.6666%;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.3333%;
}

.col-1-4 {
  width: 25%;
}

.col-1-8 {
  width: 12.5%;
}

.hamburger-dropdown {
  display: none;
}

.hamburger-dropdown > li {
  background: url('hamburger.png');
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  /* nearest relatively positioned parent of absolute positioned child */
  position: relative;
  cursor: pointer;
}

@media all and (max-width: 900px) {
  [class*='col-'] {
    width: 100%;
  }

  .clear {
    display: none;
  }

  .hamburger-dropdown {
    display: block;
  }

  .hamburger-dropdown ul li{
    display: none;
  }

  .hamburger-dropdown ul {
    position: absolute;
    top: 50px;
    left: 0;
    flex-direction: column;
    cursor: pointer;
    box-shadow: black 5px 5px 10px;
  }

  .hamburger-dropdown:hover ul li {
    display: block
  }

  .hamburger-dropdown ul li:hover a {
    text-decoration: underline;
  }
};
