<h2><%= @band.name %></h2>

<h3>Check out our albums</h3>
<ul>
  <% @band.albums.each do |album| %>
    <li><a href="<%= album_url(album) %>"><%= album.title %> |  <%= album.year %> <%= album.live ? "| LIVE" : ""%></a></li>
  <% end %>
</ul>

<%= link_to 'Add An Album For The Band', new_band_album_url(@band) %>
<%= button_to 'Delete This Band', band_url(@band), action: 'delete', method: :delete %>
