nav {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

nav div {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

img {
  width: 50%;
  margin: 20px;
}

h1 {
  padding: 20px;
}

main {
  display: flex;
  height: 400px;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 20px;
}

button {
  font-size: 20px;
}

div {
  text-align: center;
}
