/* PHASE 1: Header */

body {
  /* Write your css here... */
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #eee
}

.header {
  background-color: #f00;
  border-bottom: 1px;
  color: #fff;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid;
  border-right: 1px solid;
}
