<h2><%= @track.title %> | <a href = '<%= album_url(@track.album) %>'><%= @track.album.title %></a></h2>

<h4><%= @track.ord %> |  <%= @track.band.name %> <%= @track.bonus ? "| BONUS" : ""%></h4>

<h4>Lyrics:</h4>
<p><%= ugly_lyrics(@track.lyrics) %></p>

<%= link_to "Edit This Track", edit_track_url(@track) %>
<%= button_to 'Delete This Track', track_url(@track), action: 'delete', method: :delete %><br><br>


<%= render 'notes/notes', notes: @notes, track: @track %>
