<h2>Log In</h2>

<section class = 'form-section'>
  <form action="/session" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Email
      <input type="text" name="user[email]">
    </label><br>

    <label>password
      <input type="password" name="user[password]" >
    </label><br><br>

    <input type="submit" value="Login">
  </form>
</section>
