/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Germania One', cursive;
  background-color: #d5edef;
}

input, textarea {
  padding-left: 10px;
}

header > h1 {
  color: green;
  padding-left: 15px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: lightgrey;
  width: 100%;
  padding-bottom: 10px;
}

/*header < nav {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}*/

.form-section {
  padding: 10px;
}

form > label {
  padding: 30px;
  color: blue;
}

nav {
  margin-right: 5%;
}

h2 {
  text-align: center;
  font-family: 'Germania One', cursive;
  font-family: 'Pangolin', cursive;
}

pre {
  width: 50%;
}
