<h4>Notes:</h4>
<%= link_to "Add A Note", new_track_note_url(track) %>

<% notes.each do |note| %>
  <h5><%= note.user.email %></h5>
  <p><%= note.body %></p>
  <% if current_user == note.user %>
    <%= button_to 'Delete', track_note_url(note), action: 'delete', method: :delete %>
  <% end %>
<% end %>
