<h2>Add A Note</h2>

<section class = 'form-section'>
  <form action= "<%= track_notes_url(params[:track_id]) %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <textarea name="note[body]" rows="8" cols="80"></textarea><br>

    <input type="submit" value="Add A Note">
  </form>
</section>
